## Setting up connection

In [1]:
import mysql.connector as sql

db = sql.connect(host='localhost',
                 user='root',
                 password='root', 
                 database = 'VideoGames') #adjust to your DB setup

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000026DFB29A1F0>

In [2]:
cursor = db.cursor()

## Examples

Example - Select Statement

In [4]:
query = 'SELECT * FROM VideoGames'
cursor.execute(query)
result = cursor.fetchall()

print(result)
print()

for r in result:
    print(r)

[('Destiny 2', 2017, 'Activision', 'First-Person Shooter', 0), ('Goat Simulator', 2014, 'Coffee Stain Studios', 'Action', 0), ('Grand Theft Auto V', 2014, 'Rockstar', 'Action', 1), ('Minecraft', 2009, 'Microsoft', 'Sandbox, Survival', 1), ('Portal 2', 2011, 'Valve', 'Puzzle-platform', None), ('Team Fortress 2', 2007, 'Valve', 'First-person shooter', 1)]

('Destiny 2', 2017, 'Activision', 'First-Person Shooter', 0)
('Goat Simulator', 2014, 'Coffee Stain Studios', 'Action', 0)
('Grand Theft Auto V', 2014, 'Rockstar', 'Action', 1)
('Minecraft', 2009, 'Microsoft', 'Sandbox, Survival', 1)
('Portal 2', 2011, 'Valve', 'Puzzle-platform', None)
('Team Fortress 2', 2007, 'Valve', 'First-person shooter', 1)

Example - select statement with placeholder

In [7]:
year = 2011

query = 'SELECT * FROM VideoGames WHERE year < %s'
cursor.execute(query,(year,))
result = cursor.fetchall()
for r in result:
    print(r)

('Minecraft', 2009, 'Microsoft', 'Sandbox, Survival', 1)
('Team Fortress 2', 2007, 'Valve', 'First-person shooter', 1)

Example - using the cursor to extract specific attributes.

In [8]:
year = 2014

query = 'SELECT title, year FROM VideoGames WHERE year < %s'
cursor.execute(query,(year,))
for title, year in cursor:
    print('{}, {}'.format(title, year))

Minecraft, 2009
Portal 2, 2011
Team Fortress 2, 2007

Example - wrapping query within a function.

In [6]:
def query_videogames():
    query = 'SELECT * FROM VideoGames'
    cursor.execute(query)
    result = cursor.fetchall()
    return result


results = query_videogames()

print(results)

print()
for r in results:
    print(r)

[('Destiny 2', 2017, 'Activision', 'First-Person Shooter', 0), ('Goat Simulator', 2014, 'Coffee Stain Studios', 'Action', 0), ('Grand Theft Auto V', 2014, 'Coffee Stain Studios', 'Action', 0), ('Minecraft', 2009, 'Microsoft', 'Sandbox, Survival', 0), ('Portal 2', 2011, 'Valve', 'Puzzle-platform', 0), ('Team Fortress 2', 2007, 'Valve', 'First-person shooter', 0)]

('Destiny 2', 2017, 'Activision', 'First-Person Shooter', 0)
('Goat Simulator', 2014, 'Coffee Stain Studios', 'Action', 0)
('Grand Theft Auto V', 2014, 'Coffee Stain Studios', 'Action', 0)
('Minecraft', 2009, 'Microsoft', 'Sandbox, Survival', 0)
('Portal 2', 2011, 'Valve', 'Puzzle-platform', 0)
('Team Fortress 2', 2007, 'Valve', 'First-person shooter', 0)

Example - query with result elements accessed via array notation

In [7]:
def game_release_detailed():
    query = 'SELECT * FROM VideoGames NATURAL JOIN GameReleases NATURAL JOIN Platforms ORDER BY Platform'
    cursor.execute(query)
    result = cursor.fetchall()
    for r in result:
        print(r[0], r[1], r[2])
        
game_release_detailed()

3DS Minecraft 2009
DROID Goat Simulator 2014
DROID Minecraft 2009
iOS Goat Simulator 2014
iOS Minecraft 2009
MAC Goat Simulator 2014
MAC Minecraft 2009
MAC Portal 2 2011
MAC Team Fortress 2 2007
NS Minecraft 2009
PS4 Destiny 2 2017
PS4 Goat Simulator 2014
PS4 Minecraft 2009
WiiU Minecraft 2009
WIN Goat Simulator 2014
WIN Minecraft 2009
WIN Portal 2 2011
WIN Team Fortress 2 2007
XBO Destiny 2 2017
XBO Goat Simulator 2014
XBO Minecraft 2009

Example - insert operation

In [8]:
add_game = 'INSERT INTO VideoGames (title, year, publisher, genre, awards) values (%s, %s, %s, %s, %s)'
game_data = ('Runaround', 2020, 'ERAU', 'Student Simulator', 0)

cursor.execute(add_game, game_data)

query = 'SELECT * FROM VideoGames'
cursor.execute(query)
result = cursor.fetchall()
for r in result:
    print(r)

('Destiny 2', 2017, 'Activision', 'First-Person Shooter', 0)
('Goat Simulator', 2014, 'Coffee Stain Studios', 'Action', 0)
('Grand Theft Auto V', 2014, 'Coffee Stain Studios', 'Action', 0)
('Minecraft', 2009, 'Microsoft', 'Sandbox, Survival', 0)
('Portal 2', 2011, 'Valve', 'Puzzle-platform', 0)
('Runaround', 2020, 'ERAU', 'Student Simulator', 0)
('Team Fortress 2', 2007, 'Valve', 'First-person shooter', 0)

Example - delete operation

In [9]:
delete_game = "DELETE FROM VideoGames WHERE title='Runaround' and year=2020"
cursor.execute(delete_game)

query = 'SELECT * FROM VideoGames'
cursor.execute(query)
result = cursor.fetchall()
for r in result:
    print(r)

('Destiny 2', 2017, 'Activision', 'First-Person Shooter', 0)
('Goat Simulator', 2014, 'Coffee Stain Studios', 'Action', 0)
('Grand Theft Auto V', 2014, 'Coffee Stain Studios', 'Action', 0)
('Minecraft', 2009, 'Microsoft', 'Sandbox, Survival', 0)
('Portal 2', 2011, 'Valve', 'Puzzle-platform', 0)
('Team Fortress 2', 2007, 'Valve', 'First-person shooter', 0)

## Close DB Connection

In [10]:
db.close()